<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the world of {{ title }}!
  </h1>

</div>

<!-- <app-home-screen></app-home-screen> -->
<div class="routing-btn">
  <a routerLink='/weather'>Weather </a>
  <a routerLink='/crud' class="crud"> CRUD </a>
  <a routerLink = '/template-form'> Template Form</a>
  <a routerLink="/model-form"> Model Form</a>
  <a routerLink="/base-calc">Base Calci</a>
</div>


<router-outlet></router-outlet>


