.login-class-container {
  width: 40%;
  margin: 0 auto;
  margin-top: 5%;
}

.login-class-container input {
  width: 100%;
  margin-bottom: 5px;
  height: 50px;
  font-size: 20px;
  padding: 0 10px;
}

.login-class-container .submit-button {
  /*second way to align button to center*/
  text-align: center;
  /*----------------*/
}

.login-class-container .submit-button button {
  /*-------------*/
  /*one way to align the button to center*/
  /*margin: auto;*/
  /*display: block;*/
  /*-------------------------*/
  background: #0021d7;
  height: 50px;
  width: 100px;
  color: #FFF;
  font-size: 30px;
  cursor: pointer;
}

.login-class-container .submit-button button:hover {
  background: #d430cf;
}
