<form class="login-class-container"
      [formGroup] = "form"
      (ngSubmit) = "onSubmit(form.value)"
  >
    <!--<div class="">-->
      <input type="text" placeholder="User Name.." [(ngModel)]="username" formControlName="username">
      <input type="password" placeholder="Password" [(ngModel)]="password" formControlName="password">
      <!--<span>-->
        <!--Login-->
      <!--</span>-->
      <div class="submit-button">
        <button type="submit" >Login</button>
      </div>

    <!--</div>-->

</form>

