<div class="weather-container">
  <div class="header">
    <h1>
      Climate
    </h1>
    <h3>Country Name is  {{ name }}</h3>
  </div>


  <ul>
    <li *ngFor = "let country of weather">{{ country.name }} == {{ country.climate }}</li>

  </ul>

  <!--<input type="file" accept="video/*;capture=webcam ">-->
  <video #video class="video" autoplay>no video</video>

  <button class="start-recording" (click)="startRecording()"> Record </button>
  <button (click)="stopRecording()"> STOP</button>
  <button (click)="download()"> Download</button>
</div>

